@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$fonts: "Oswald", Arial, Verdana, Optima, sans-serif;
$primary: #714955;
$secondary: #7b886b;
$tertiary: #88bb92;
$accent1: #94ddbc;
$accent2: #a0ecd0;

body {
  font-family: $fonts;
}

:root {
  --primary: #{$primary};
  --secondary: #{$secondary};
  --tertiary: #{$tertiary};
  --accent1: #{$accent1};
  --accent2: #{$accent2};
}
