.container {
  display: flex;
  height: 5rem;
  background-color: var(--primary);
  width: 100%;
  .content {
    padding: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    color: #ffd8f5;
    h1:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}
