div {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  position: relative;
  input {
    border: none;
    border-radius: 2rem;
    outline: none;
    height: 2rem;
    padding: 0.5rem.7rem;
    font-family: var(--fonts);
    width: 70%;
    color: var(--text);
  }
  button {
    background-color: var(--accent1);
    border: none;
    outline: none;
    border-radius: 2rem;
    width: 30%;
    height: 2rem;
    font-family: var(--fonts);
    text-align: center;
    color: var(--text);
    align-content: center;
  }
  button:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  ul {
    position: absolute;
    z-index: 1;
    margin-top: 0.2rem;
    background: var(--accent1);
    top: 100%;
    justify-self: start;
    margin-left: 0;
    border-radius: 1rem;
    font-size: 0.8rem;
    left: 0;
    width: 65%;
    list-style: none;
    li {
      padding: 0.2rem 0.5rem 0 0.5rem;
    }
  }
}
